/* ---CSS Reset--- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*::before,
*::after,
* {
  box-sizing: border-box;
}
/* ---CSS Reset--- */

/* ---Fonts--- */
@font-face {
  font-family: "Kanit";
  src: url(assets/fonts/kanit/Kanit-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url(assets/fonts/kanit/Kanit-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Nord";
  src: url(assets/fonts/nord/Norse-Bold.otf);
  font-weight: bold;
  font-style: normal;
}
/* ---Fonts--- */

:root {
  --text: #d4d4d4;
  --background: #292524;
  --primary: #eab308;
  --primary-dark: #ca8a04;
  --border: #d6d3d1;
}

html,
body,
:root {
  height: 100%;
  font-size: 14px;
  font-family: "Kanit", "Courier New", Courier, monospace;
  background-color: var(--background);
  color: var(--text);
}

.container {
  margin: 0 auto;
  max-width: 1580px;
  padding: 64px 0;
}

h1.title {
  text-align: center;
  font-family: "Nord", "Courier New", Courier, monospace;
  font-size: 4rem;
  color: var(--primary);
  text-decoration: underline;
}

.container > section {
  max-width: 60%;
  margin: 48px auto;
}

.btn {
  background: var(--primary);
  border: 2px solid var(--primary);
  color: black;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    transition: all 0.25s linear;
  }
}

#add-button > img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.dialog {
  border: none;
  border-radius: 5px;
  width: 450px;
  color: black;
  padding: 0;
  position: relative;
}

.dialog .close-btn {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;

  img {
    width: 16px;
    height: 16px;
  }
}

.dialog::backdrop {
  background-color: rgba(255, 255, 255, 0.3);
}

.dialog > .header {
  padding: 24px;
  border-bottom: 1px solid var(--border);

  .title {
    font-size: 18px;
    font-family: "Nord", "Courier New", Courier, monospace;
    font-weight: bold;
  }
}

.dialog > .content {
  padding: 24px;
}

.field-item {
  margin-bottom: 18px;

  label {
    margin-bottom: 5px;
  }

  input {
    margin-top: 8px;
    display: block;
    width: 100%;
    border: 1px solid var(--border);
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    &:focus {
      outline-color: var(--primary);
    }
  }
}

#book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  column-gap: 14px;
  row-gap: 24px;
}

#book-grid + p.empty {
  display: none;
  grid-column: 1 / -1;
  text-align: center;
  color: #44403c;
  font-size: 48px;
  padding: 50px 0;
  font-family: "Nord", "Courier New", Courier, monospace;
}

#book-grid:empty + p.empty {
  display: block;
}

.book-item {
  position: relative;
  aspect-ratio: 1 / 1.2;
  background-color: #78350f;
  border-radius: 8px;
  padding: 18px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 10px solid #431407;
  text-align: center;

  img {
    width: 50px;
    margin-bottom: 14px;
  }

  h2 {
    color: var(--primary);
    margin-bottom: 5px;
  }

  p {
    font-size: 12px;
    font-weight: light;
    margin-bottom: 3px;
  }
}

.book-item > .remove-btn {
  display: none;
  justify-content: center;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
  transition: all 0.25s linear;

  position: absolute;
  top: 5px;
  right: 5px;

  img {
    margin: 0;
    width: 18px;
    height: 18px;
  }
}
.book-item:hover > .remove-btn {
  display: flex;
}
